body {
  background: #161616;
  font: 12px normal Verdana, Arial, Helvetica, sans-serif;
}


/*第一个动画*/
h1.loadingtext{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	font-size: 4.6875em;
	font-family: 'Nunito', sans-serif;
	/*颜色继承,此处同body*/
	color: transparent;
}
h1.loadingtext span {
	/*设置多个阴影叠加，(x偏移，y偏移，模糊值)，第一个在最上面*/
	/*其实也是keyframe的from{}值*/
	text-shadow: 0 0 2px rgba(22, 22, 22, 0.9), 0 15px 25px rgba(0, 0, 0, 0.3), 0 -2px 3px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(22, 22, 22, 0.5), 0 5px 10px rgba(0, 0, 0, 0.3), 0 3px 4px rgba(22, 22, 22, 0.2), 0 0 20px rgba(22, 22, 22, 0.45);
	/*最后一个值动画播放方向为alternate，表示一次正方向，一次反方向*/
	/*交替的播放方向，每个字母延迟播放0.15s，使之看起来有波浪的感觉*/
	-webkit-animation: letters 0.85s ease-in-out infinite alternate;
	-moz-animation: letters 0.85s ease-in-out infinite alternate;
	-ms-animation: letters 0.85s ease-in-out infinite alternate;
	animation: letters 0.85s ease-in-out infinite alternate;
	-webkit-animation-delay: 0;
	-moz-animation-delay: 0;
	-o-animation-delay: 0;
	animation-delay: 0;
}
/*1-7,延迟0.15(i-1)*/
h1.loadingtext span:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  -o-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
h1.loadingtext span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
h1.loadingtext span:nth-child(4) {
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
h1.loadingtext span:nth-child(5) {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
h1.loadingtext span:nth-child(6) {
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
h1.loadingtext span:nth-child(7) {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@keyframes letters {
  to {
  	/*透明度为0，完全透明*/
    text-shadow: 0 0 2px rgba(204, 208, 212, 0.2), 0 0 3px rgba(0, 0, 0, 0.02), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(255, 255, 255, 0);
  }
}
@-moz-keyframes letters {
  to {
    text-shadow: 0 0 2px rgba(204, 208, 212, 0.2), 0 0 3px rgba(0, 0, 0, 0.02), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(255, 255, 255, 0);
  }
}
@-webkit-keyframes letters {
  to {
    text-shadow: 0 0 2px rgba(22, 22, 22, 0.2), 0 0 3px rgba(0, 0, 0, 0.02), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
  }
}


/*第二个动画*/
#ajaxloader1 {
  width: 30px;
  height: 30px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 25px 2px;
  -moz-box-shadow: 0 0 25px 2px;
  box-shadow: 0 0 25px 2px;
  /*color: #fff;*/
  border-color: #f00;
  color: #cc0000;
  border-right-color: transparent;
  border-top-color: transparent;
  -webkit-animation: spin-right 1s linear 0s infinite normal;
  -moz-animation: spin-right 1s linear 0s infinite normal;
  -ms-animation: spin-right 1s linear 0s infinite normal;
  animation: spin-right 1s linear 0s infinite normal;
  margin: 30px auto 0;
}
#ajaxloader1:after {
  display: block;
  width: 13px;
  height: 13px;
  margin: 3px;
  border: 6px solid #f00;
  content: " ";
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
@keyframes spin-right {
  from {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  /*此处设置了完全不透明，有一种亮起来的感觉*/
  50% {
    transform: rotate(180deg);
    opacity: 1.0;
  }
  to {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}
@-moz-keyframes spin-right {
  from {
    -moz-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    -moz-transform: rotate(180deg);
    opacity: 1.0;
  }
  to {
    -moz-transform: rotate(360deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes spin-right {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: rotate(180deg);
    opacity: 1.0;
  }
  to {
    -webkit-transform: rotate(360deg);
    opacity: 0.2;
  }
}

/*第三个动画，内圈逆时针，外圈顺时针*/
#ajaxloader2 {
  margin: 30px auto 0;
}
#ajaxloader2 .outer {
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: .9;
  width: 50px;
  height: 50px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 35px rgba(0, 61, 76, 0.9);
  -moz-box-shadow: 0 0 35px rgba(0, 61, 76, 0.9);
  box-shadow: 0 0 35px rgba(0, 61, 76, 0.9);
  -webkit-animation: spin-right 0.85s linear 0s infinite normal;
  -moz-animation: spin-right 0.85s linear 0s infinite normal;
  -ms-animation: spin-right 0.85s linear 0s infinite normal;
  animation: spin-right 0.85s linear 0s infinite normal;

  margin: 0 auto;
}
#ajaxloader2 .inner {
  display: block;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: .9;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 0 35px rgba(0, 61, 76, 0.9);
  -moz-box-shadow: 0 0 35px rgba(0, 61, 76, 0.9);
  box-shadow: 0 0 35px rgba(0, 61, 76, 0.9);
  /*相对自己定位*/
  position: relative;
  top: -50px;
  margin: 0 auto;
  -webkit-animation: spin-left 0.85s linear infinite normal;
  -moz-animation: spin-left 0.85s linear infinite normal;
  -ms-animation: spin-left 0.85s linear infinite normal;
  animation: spin-left 0.85s linear infinite normal;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
@keyframes spin-left {
  from {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(-180deg);
    opacity: 1.0;
  }
  to {
    transform: rotate(-360deg);
    opacity: 0.2;
  }
}
@-moz-keyframes spin-left {
  from {
    -moz-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    -moz-transform: rotate(-180deg);
    opacity: 1.0;
  }
  to {
    -moz-transform: rotate(-360deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes spin-left {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: rotate(-180deg);
    opacity: 1.0;
  }
  to {
    -webkit-transform: rotate(-360deg);
    opacity: 0.2;
  }
}

/*第四个动画*/
#ajaxloader3 .outer {
  border: 5px solid rgba(0, 229, 183, 0.9);
  opacity: .9;
  width: 50px;
  height: 50px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 35px rgba(0, 76, 61, 0.9);
  -moz-box-shadow: 0 0 35px rgba(0, 76, 61, 0.9);
  box-shadow: 0 0 35px rgba(0, 76, 61, 0.9);
  -webkit-animation: spin-pulse 0.85s linear 0s infinite normal;
  -moz-animation: spin-pulse 0.85s linear 0s infinite normal;
  -ms-animation: spin-pulse 0.85s linear 0s infinite normal;
  animation: spin-pulse 0.85s linear 0s infinite normal;
  margin: 0 auto;
}
#ajaxloader3 .inner {
  display: block;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(0, 229, 183, 0.9);
  opacity: .9;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-box-shadow: 0 0 35px rgba(0, 76, 61, 0.9);
  -moz-box-shadow: 0 0 35px rgba(0, 76, 61, 0.9);
  box-shadow: 0 0 35px rgba(0, 76, 61, 0.9);
  /*相对自己定位*/
  position: relative;
  top: -50px;
  margin: 0 auto;
  -webkit-animation: spin-right 1s linear infinite normal;
  -moz-animation: spin-right 1s linear infinite normal;
  -ms-animation: spin-right 1s linear infinite normal;
  animation: spin-right 1s linear infinite normal;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
@keyframes spin-pulse {
  from {
    transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px rgba(0, 61, 76, 0.9);
  }
  50% {
    transform: rotate(145deg);
    opacity: 1;
  }
  to {
    transform: rotate(-320deg);
    opacity: 0;
  }
}
@-moz-keyframes spin-pulse {
  from {
    -moz-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px rgba(0, 61, 76, 0.9);
  }
  50% {
    -moz-transform: rotate(145deg);
    opacity: 1;
  }
  to {
    -moz-transform: rotate(-320deg);
    opacity: 0;
  }
}
@-webkit-keyframes spin-pulse {
  from {
    -webkit-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px rgba(0, 61, 76, 0.9);
  }
  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(-320deg);
    opacity: 0;
  }
}

/*第五个动画*/
#ajaxbar1{
	display: flex;
	justify-content: center;
}
#ajaxbar1 div{
	width:8px;
	height:8px;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.9);
	margin:0 2px;
	-webkit-animation: circle 1s linear infinite normal;
	-moz-animation: circle 1s linear infinite normal;
	-ms-animation: circle 1s linear infinite normal;
	animation: circle 1s linear infinite normal;
	-webkit-animation-delay:0.3s;
	-moz-animation-delay:0.3s;
	-ms-animation-delay:0.3s;
	animation-delay:0.3s;
}
#ajaxbar1 div:nth-child(1){
	-webkit-animation-delay:0.6s;
	-moz-animation-delay:0.6s;
	-ms-animation-delay:0.6s;
	animation-delay:0.6s;
}
#ajaxbar1 div:nth-child(3){
	-webkit-animation-delay:0s;
	-moz-animation-delay:0s;
	-ms-animation-delay:0s;
	animation-delay:0s;
}
#ajaxbar1 div:nth-child(5){
	-webkit-animation-delay:0.6s;
	-moz-animation-delay:0.6s;
	-ms-animation-delay:0.6s;
	animation-delay:0.6s;
}
@keyframes circle{
	25%{
		transform: scale(1.5);
		opacity: 1;
	}
	50%{
		transform: scale(1);
		opacity: 0.5;
	}
	75%{
		transform: scale(0.5);
		opacity: 0;
	}
	to{
		transform: scale(1);
		opacity: 0.5;
	}
}